 .video-cont{
     display: flex;
     flex-direction: column;
     height: 70vh;
     align-items: center;
     border-radius: 5px;
     overflow: scroll;
     scroll-snap-type: y mandatory;
     scrollbar-width: none;
     margin-top: 0.5rem;
     
 }
 .video-cont::-webkit-scrollbar{
     display: none;
 }
 .video-ele{
   position: relative;
}
.fa{
    position: absolute;
    bottom: 5%;
    left: 5%;
}
.icon-style{
    position: absolute;
    bottom: 7%;
    right: 5%;
}
.like{
    cursor: pointer;
color: red;
}
.unlike{
    cursor: pointer;
    color: white;
}
.chat-icon{
    color: white;
    position: absolute;
    bottom: 2%;
    right: 5%;
}
.modal-cont{
display: flex;
height: 80vh;
width: 100%;
}
.modal-video{
height: 100%;
width: 50%;
}
.modal-video video{
    height: 100%;
    width: 100%;
}
.modal-comment{
    
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.card1{
    height: 69vh;
    width: 95%;
   align-items: center;
}
.card2{
 width: 95%;
 
}
.person-comments{
    display: flex;

}