.spacer{
min-height: 12vh;
}
.profile-container{
min-height: 88vh;
margin-left: 18%;
margin-right: 18%;
}
.upper-part{
    display: flex;
    align-items: center;
    justify-content: center;
}
.profile-img{
    flex: basis 30%;
}
.profile-img img{
    height: 8rem;
    width: 8rem;
    border-radius: 70%;
}

.info{
    flex-basis: 50%;
}




.profile-videos{
    display: flex;
    flex-wrap: wrap;
}

.profile-videos video{
    height: 20rem;
    padding: 0.1rem;
    width: 15rem;
}