.SignUpWrapper{
    display: flex;
    justify-content: center;
}
.SignUpCard{
   width: 27vw;
   margin-top: 5%;
}
.logoInsta{
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}